<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="/css/errores.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <title>ERROR 500</title>
    <meta charset="UTF-8">
</head>

<body>

    <%-include("headerSinLogin") %>

    <main>
        <div class="contenido">
            <h1>Error 500 - Error del servidor</h1>
            <p>Se ha producido el siguiente error: <%= mensaje %></p>
        </div>

    </main>
</body>

</html>
