<!DOCTYPE html>

<html lang="es">


<head>
    <title>Error del servidor</title>
    <link href="css/figura8.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="titulo">
            <h1><a href = /users/my_profile>FaceBluff</a></h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>

        </div>
    </header>
    <div class="contenido">
        <h1>500 - Error interno del servidor</h1>
        <p>Se ha producido el siguiente error: <%= mensaje %></p>
    </div>
</body>

</html>