<!DOCTYPE html>

<html lang="es">


<head>
    <title>Error del servidor</title>
    <link href="css/figura8.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>
    <%-include("headerSinLogin") %>

    <main>
        <div class="contenido">
            <h1>500 - Error interno del servidor</h1>
            <p>Se ha producido el siguiente error: <%= mensaje %></p>
        </div>
    </main>
</body>

</html>