<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/figura3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1>FaceBluff</h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>
            
        </div>
    </header>
    <main>
        <div class="contenido">
            <h2 class="pagina">
                Tu perfil
            </h2>

            <div class="main">
                <div class="fotoPerfil">
                    <img class="fotoPerfil" src="https://elluchador.info/web/wp-content/uploads/2017/05/fb2.jpg">
                </div>
                <div class="DatosPerfil">
                    <p><%=usuario.nombre%></p>
                    <p><%=usuario.edad%></p>
                    <p><%=usuario.genero%></p>
                    <p><%=usuario.puntuacion%></p>
                </div>
            </div>
            <br>

            <a href="/users/update_user" class="login">Modificar</a>
        </div>


        </div>

    </main>
</body>

</html>