<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/figura6.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <%-include("headerConLogin", {puntuacion:puntuacion}) %>

    <main>
        <div class="contenido">
            <h2 class="pagina">
                Crear pregunta
            </h2>

            <div class="main">
                <form method="POST" action="/question/create">
                    Enunciado: <input type="text" name="enunciado">
                    <p>Respuestas (una línea por respuesta):</p>
                    <textarea name="respuestas" rows="10" cols="30"></textarea>
                    <input type="submit" value="Añadir nueva pregunta" class="login">
                </form>
            </div>
        </div>
        <div class="error">
            <p><%=mensaje%></p>
        </div>
    </main>
</body>

</html>