<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="figura1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1>FaceBluff</h1>
        </div>
        <div class="enlaces">
            <a href="/users/login">Entrar</a>
            <a href="/users/new_user">Nuevo usuario</a>
        </div>
    </header>
    <main>
        <div class="contenido">
            <h2 class="pagina">
                Identificación de usuario
            </h2>
            <form method="POST" class="formulario">
                <div class="dato">
                    <div class="tag">Email</div>
                    <div class="input"><input type="text" name="email"></div>
                </div>
                <div class="dato">
                    <div class="tag">Contraseña</div>
                    <div class="input"><input type="password" name="password"></div>
                </div>
                <input type="submit" value="Identificar" class="login">
            </form>
        </div>
        <div class="error">
            <p><%=errorMsg%></p>
        </div>

    </main>
</body>

</html>