<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="figura9.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1>FaceBluff</h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>
            <a href="">Puntos</a>
        </div>
    </header>
    <main>
        <div class="contenido">
            <h2 class="pagina">
                ¿Quien es mejor, Messi o Cristiano?
            </h2>

            <div class="main">
                <h3>¿Que crees que opina Jorge Millán?</h3>
                <section class="pregunta">
                    <input type="radio" value="male"> <span>Messi</span>

                </section>
                <section class="pregunta">
                    <input type="radio" name="gender" value="male"> <span>Cristiano</span>
                </section>

                <section class="pregunta">
                    <input type="radio" name="gender" value="male"> <span>Chigrinsky</span>
                </section>

            </div>

            <a href="">Responder</a>
        </div>


        </div>

    </main>
</body>

</html>