<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="figura5.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1><a href = /users/my_profile>FaceBluff</a></h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>
            <a href=""> <%= currentUser.puntuacion %></a>
        </div>
    </header>
    <main>
        <div class="resultados">
            <h2>Resultados de la búsqueda</h2>
            <% for (var usuario in usuarios) { %>
            <div>
                <img class="fotoBusqueda" src="https://elluchador.info/web/wp-content/uploads/2017/05/fb2.jpg">
                <a href=<%="/users/profile/" +solicitud.idUsuario %>><%= solicitud.nombre %></a>
                <a href=<%="/users/friends/request_friend/" +usuario.idUsuario %> class="solicitarAmigo">Solicitar
                    amistad</a>
            </div>
            <% } %>

        </div>
    </main>
</body>

</html>