<header>
    <div class="titulo">
        <h1><a href = /users/my_profile>FaceBluff</a></h1>
    </div>
    <div class="enlaces">
        <a href="/users/login">Entrar</a>
        <a href="/users/new_user">Nuevo usuario</a>
    </div>
</header>