* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;
}

header {
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background: linear-gradient(to bottom, #33ccff 0%, #ffff99 100%);
}

header h1 {
    padding: 2% 0 2% 0;
}

header a {
    padding-bottom: 2%;
    color: brown;
}

.titulo {
    display: flex;
    justify-content: center;
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 10% 20% 0 20%;
}

.main {
    background-color: #33ccff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1% 20% 1% 20%;
}

body {
    background: #ffff99;
}

.pagina {
    padding-bottom: 5%;
}

.pregunta {
    background-color: rgb(216, 210, 122);
    border-radius: 15px;
    padding: 0 5% 0 5%;
    margin: 2% 0 2% 0;
}

a {
    text-decoration: none;
}

main a {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0 0.5em 0 0.5em;
}